<section class="container">
  <section class="flex-row justify-center">
  {{#each movies as | movie|}} 
      <div class="row">
          <div class="card">
            <h4 class="card-header">{{movie.title}} </h4>
             <div class="card-body">
                <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}"  class="card-img-top"/>
              <p class="card-text"><div>{{movie.overview}}</div>
                <a class="btn btn-primary" href="/user/login" role="button">Review this movie</a>
                
               </div>
               </div>
               </div>
{{/each}}
  </section>
</section>